<!DOCTYPE html>
<html ng-app="loginApp">
    <head><% include partials/template/head.ejs %></head>
    <body ng-controller="loginCtrl">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% include partials/template/footer.ejs %>
    <% include partials/template/jsDefaults.ejs %>
    </body>
</html>
