<!DOCTYPE html>
<html ng-app="loginApp">
    <head><% include partials/template/head.ejs %></head>
    <body ng-controller="loginCtrl">
        <% include partials/template/navbar.ejs %>
        <div class="container">
            <h4 class="success">Your account has been deleted.</h4>
            <% include partials/template/footer.ejs %>
        </div>
        <% include partials/template/jsDefaults.ejs %>
    </body>
</html>