<!DOCTYPE html>
<html ng-app="loginApp">
<head><% include partials/template/head.ejs %></head>
<body ng-controller="loginCtrl">
    <% include partials/template/navbar.ejs %>
    <div class="col-sm-6 col-sm-push-3">
        <% include partials/content/signUpForm.ejs %>
    </div>
    <% include partials/template/footer.ejs %>
    <% include partials/template/jsDefaults.ejs %>
</body>
</html>